.container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #a3b8ce;
}

.container-child {
    /*width: 50%;*/
    float: left;
    padding: 20px;
}

#navTop {
    height: 100px;
}

body {
    /*background-color: #e4e1d8;*/
}



.info-reading-status {
    height: 40px;
    text-align: center;
    padding-top: 5px;
    /*margin-top: 60px;*/
    /*color: #343a40;*/
    width: inherit;
}

.error {
    height: 30px;
    text-align: center;
    padding-top: 5px;
    /* margin-top: 60px; */
    color: #343a40;
    width: inherit;
    margin-top: 3px;
    font-size: 16px;
    border-radius: 5px;
}

.edit-button {
    margin-right: 10px;
    /*height: 20px;*/
    width: 150px;
}

.edit-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 10px;
    align-self: center;
}

.btn-ahead {
    background-color: #2da687 !important;
    color: #e4e1d8 !important;
    border-color: #2da687 !important;
    /* font-weight: bold; */
}

.btn-ahead:hover {
    color: #e4e1d8 !important;
    background-color: #25886f !important;
    /*background-color: rgba(229, 200, 0, 0.883)!important;*/
}

.btn-ahead:focus {
    outline: none  !important;
    box-shadow: none  !important;
}


.btn-ahead-cancel {
    background-color: rgba(255, 245, 0, 0.8) !important;
    color: #2c3e50 !important;
    border-color: rgb(108, 117, 125) !important;
    /* font-weight: bold; */
}

.btn-ahead-cancel:hover {
    color: white  ;
    background-color: rgb(108, 117, 125) ;
    background-color: rgba(229, 200, 0, 0.883)!important;
}

.btn-ahead-cancel:focus {
    outline: none  !important;
    box-shadow: none  !important;
}

.btn-ahead-save {
    background-color: rgb(247, 47, 47) !important;
    color: white !important ;

    border-color: rgb(108, 117, 125) !important;
    /* font-weight: bold; */
}

.btn-ahead-save:hover {
    color: white !important ;
    background-color: rgba(229, 0, 0, 0.883)!important;
}

.btn-ahead-save:focus {
    outline: none  !important;
    box-shadow: none  !important;
}

.btn-outline-ahead {
    /* background-color: rgb(247, 47, 47) !important; */
    color:#2da687  !important;
    border-color:  #2da687 !important;
    padding-left: 3px;
    /* font-weight: bold; */
}

.btn-outline-ahead:hover {
    color: #2c3e50!important;
    background-color: #2ca083 !important;
}

.btn-outline-ahead:focus {
    outline: none  !important;
    box-shadow: none  !important;
}


.text-left{
    text-align: left;
}
.color-green{
    color: #28a745;
}

.color-red{
    color:  #dc3545;
}

.text-ahead-green {
    color: #268c73;

}

.text-ahead-light {
    color: #e4e1d8 !important;

}
.bg-ahead {
    /* color: white  ; */
    background-color: #e4e1d8 !important;
}

.bg-ahead-green {
    /* color: white  ; */
    background-color:  #2da687!important;
}

.select-text-color {
    color: rgba(255, 245, 0, 0.8);
}