/*button*/
.btn-office {
    display: block;
    color:  rgba(219, 117, 0, 1) !important;
    background-color: #151819 !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-color: rgba(219, 117, 0, 1)!important;
}
.btn-office:hover {
    color: rgb(232, 230, 227) !important;
    background-color: rgba(219, 117, 0, 0.7) !important;
    /*box-shadow: rgb(238 127 0) 0px 0px 0px 2px inset;*/
}
.btn-office:focus {
    outline: none !important;
    box-shadow: none !important;
}
/*button save*/
.btn-office-save {
    display: block;
    width: 150px;
    background-color: #151819 !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #dc3545 !important;
    border-color: rgba(219, 117, 0, 1)!important;
}
.btn-office-save:hover {
    color: white !important;
    background-color: rgba(220, 56, 72, 0.7)!important;
    /*box-shadow: rgb(238 127 0) 0px 0px 0px 2px inset;*/
}
.btn-office-save:focus {
    outline: none !important;
    box-shadow: none !important;
}
/*button outline*/
.btn-outline-office {
    /*font: normal 500 0.75rem/1.33 NNDagnyDisplayWebPro, Arial, sans-serif;*/
    font-size: 0.75rem;
    color: rgba(219, 117, 0, 1)!important;
    margin: 0 6px;
    padding: 10px 24px;
    background: #1e2122;
    /*background: chartreuse;*/
    box-shadow: none;
    white-space: nowrap;
    letter-spacing: 1.2px;
    border-color: rgba(219, 117, 0, 1)!important;
}
.btn-outline-office:hover {
    color: rgb(232, 230, 227) !important;
    background-color: rgba(219, 117, 0, 0.7) !important;
}
.btn-outline-office:focus {
    outline: none !important;
    box-shadow: none !important;
}

/*-----------------------------------------------TEXT-------------------------------------------*/
.text-left {
    text-align: left;
}
.color-orange {
    color: rgb(238, 127, 0);
}
.color-red {
    color: #dc3545;
}
.text-office-orange {
    color: rgb(238, 127, 0) !important;
}
.color-gray{
    color: #2E3236;
}
.text-gray {
    color: rgba(13, 13, 13, 1) !important;
    font-weight: bold;
}

/*------------------------------------------------INPUT-----------------------------------------------*/
.input-office-orange {
    background-color: #151819 !important;
    color: rgb(238, 127, 0) !important;
}

.input-office-green {
    background-color: #151819 !important;
    color: rgb(38 140 115) !important;
}

/*-----------------------------------------------------card--------------------------------------------*/
.card-office {
    background-color: #2E3236!important;
    color: rgb(238, 127, 0) !important;
    border-radius: 10px;
}
.card-elem-office {
    background-color: #151819 !important;
    color: rgb(238, 127, 0) !important;
    border-radius: 10px;
    padding: 0.5rem !important;
    margin: 0.5rem !important;
}

/*------------------------------------------------------BORDER-------------------------------------------*/
.border-orange {
    border-color: rgba(238, 127, 0) !important;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.border-orange:focus {
    border-color: rgba(238, 127, 0) !important;
    box-shadow: 0 0 0 0.2rem rgb(238 127 0 / 25%) !important;
}

.border-green {
    border-color: #268c73 !important;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.border-green:focus {
    border-color: #268c73 !important;
    box-shadow: 0 0 0 0.2rem rgb(38 140 115 / 25%) !important;
}

/*-------------------------------------------------BACKGROUND*/
.bg-office {
    background-color: #222526 !important;
}
.bg-office-dark1 {
    background-color: #1e2122!important;
}
.bg-office-dark2 {
    background-color: #151819 !important;
}
.bg-office-orange {
    background-color: #ee7f00  !important;
}

/*-------------------------------------------------------TABLE-------------------------------------------------------*/
.table-head{
    border-top: 2px solid #ee7f00 !important;
    border-bottom: 3px solid #ee7f00 !important;
    font-size: .9rem;
}
.table-row{
    vertical-align: center !important;
    border-top: 2px solid #151819 !important;
    font-size: .9rem;
}
table.table>tbody>tr:hover td,
table.table>tbody>tr:hover th {
    background-color: rgba(238, 127, 0, .1) !important;

}
/*--------------------------------------------PAGE-----------------------------------------------------*/
.paging{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.pagination .page-link {
    background-color:#1d1d1d !important;
    border: 1px solid #ee7f00 !important;
    color: rgba(238, 127, 0) !important;
}

.pagination .page-link:hover {
    box-shadow: rgb(238 127 0) 0px 0px 0px 2px inset;
    color: rgba(238, 127, 0) !important;
}
.page-item.active .page-link {
    background-color: rgb(238 127 0) !important;
    color: rgb(232, 230, 227) !important;
    box-shadow: rgb(238 127 0) 0px 0px 0px 2px inset!important;
}

/*----------------------------------------INFO BAR-------------------*/
.info-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    /*margin-top: 60px;*/
    color: #2E3236!important;
    width: inherit;
    background-color: rgb(238 127 0) !important;
}
.info-bar-button {
    color: #2E3236 !important;
    background-color: transparent !important;
    border-color: #2E3236 !important;
    border-radius: 0.25rem !important;
    border-width: 2px !important;
    cursor: pointer;
    margin-bottom: 8px;
}

/*---------------------------------------------PROGRESS BAR */
.progress-office {
    background-color: #1d1d1d !important;
}
.progress-bar-office {
    background: rgba(219, 117, 0, 1)!important;
}